h1 {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 10px;
}

.BigContainerAndHeading {
    background-color: rgb(233, 223, 204);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    width: 20%;
}

.Container {
    background-color: rgb(233, 223, 204);
    height: 15rem;
    /* width: 28%; */
    width: 28%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    display: flex;
}

.section {
    display: flex;
    flex-wrap: wrap;
}