h1 {
    display: flex;
    justify-content: center;
}

.movieContainer {
    background-color: rgb(233, 223, 204);
    height: 15rem;
    width: 28%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    display: flex;
}

.seriesContainer {
    background-color: rgb(233, 223, 204);
    height: 15rem;
    width: 28%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    display: flex;
}

.movie_section {
    display: flex;
    flex-wrap: wrap;
}

.series_section {
    display: flex;
    flex-wrap: wrap;
}